@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root{
  background-color:#111111;
  color: white;
  --blue:#00FEFC;
  --dark:#111111;
  --gray:#2B2A2A;
}
body{
  font-family: 'Kanit',Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.pageContent{
  max-width:90%;
}
