.nav{
    max-width: 10%;
    position: fixed;
    right: 2%;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    a{
        transition: all 2s;
        display: flex;
        color: white;
        text-decoration: none;
        background-color: #2B2A2A;
        padding: 15px;
        font-size: xx-large;
        border-radius: 50px;
        margin-top: 20px;
        align-items: center;
        &:hover>span{
            display: block;

        }
        &:hover{
            background-color: #00FEFC;

        }
        span{
            display: none;
            font-size: large;
            margin-right: 10px;
        }
    }
}